[submodule "src/MagicNet/lib/kamfw"]
	path = src/MagicNet/lib/kamfw
	url = https://github.com/MemDeco-WG/kamfw.git
	branch = main
[submodule "src/MagicNet/.config/sing-box"]
	path = src/MagicNet/.config/sing-box
	url = https://github.com/LIghtJUNction/MagicSingBox.git
[submodule ".kam/bases/hooks"]
	path = .kam/bases/hooks
	url = https://github.com/MemDeco-WG/KamHooks.git
	branch = main
[submodule ".kam/bases/workflows"]
	path = .kam/bases/workflows
	url = https://github.com/MemDeco-WG/KamModuleX.git
	branch = main
[submodule "sing-box"]
	path = sing-box
	url = https://github.com/cls4756/magicnet-sing-box.git
	branch = magicnet-domain-forward
	shallow = true
[submodule "rules"]
	path = rules
	url = https://github.com/LIghtJUNction/MagicNetRules.git
	branch = main
